# Ignore node_modules directory
node_modules/

# Ignore compiled CSS files
!/dist/style.css

# Ignore Sass cache and build files
.sass-cache/
*.css.map

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore system and temporary files
Thumbs.db
.DS_Store
