/**
* Forms 
*/
.wp-block-jetpack-contact-form {
  .grunion-field-wrap {
    margin-bottom: 10px;
    label {
      color: #314652;
      font-size: 16px;
    }
    input,
    select {
      border: 1px solid darken($color-light, 5%);
      border-radius: 3px;
      padding: 4px 10px!important;
      line-height: 1.7;
      font-size: 17px!important;
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
      background: lighten($color-light, 15%);
      height: 40px;
    }
    textarea {
      border: 1px solid darken($color-light, 5%);
      border-radius: 3px;
      padding: 4px 10px;
      line-height: 1.7;
      font-size: 16px;
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
      background: lighten($color-light, 15%);
    }
  }

  .wp-block-button__link {
    @include button ($color-primary, 'md', $color-white);
    text-transform: uppercase;
  }
}

/**
* Subscriber form
*/
.wp-block-jetpack-subscriptions__form-elements {
  @media (max-width: 599px) {
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
  }

}