/**
* Blog Grid 
*/
.wp-block-query {
  .wp-block-post-template {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
    padding-bottom: 40px;
    .wp-block-post {
      flex-basis: 100%; // One div per row on mobile devices

      @include device-size(tablet-portrait) {
        flex-basis: calc(50% - 30px)!important;  // Two divs per row on larger screens
        margin-right: 0;
      }
      .wp-block-post-featured-image {
        aspect-ratio: 16/9 !important;
      }
      .wp-block-post-title {
        a {
          font-size: 30px;
        }
      }
    }
    .wp-block-template-part {
      .wp-block-group {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
    }
  }
}

// Home page grid
.home-news-grid {
  .wp-block-post-template {
    justify-content: start;
    .wp-block-post { 
      flex-basis: 100%; // One div per row on mobile devices

      @include device-size(tablet-portrait) {
        flex-basis: calc(50% - 30px)!important;  // Two divs per row on larger screens
        margin-right: 0;
      }

      @include device-size(desktop) {
        flex-basis: calc(33% - 30px)!important;  // Two divs per row on larger screens
        margin-right: 0;
      }
    }
    .wp-block-template-part {
      .wp-block-group {
        padding-top: 0 !important;
      }
    }
  }
}

/**
* Organizer List
*/
.organizer-list {
  li {
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
    @include device-size(tablet-portrait) {
      flex-basis: calc(50% - 40px)!important;
    }
  }
  .wp-social-link {
    flex-basis: 36px!important;
  }
}

.profile-social-links {
  flex-basis: 36px!important;
}

/**
* Page content 
*/
.page-content {
  @media (max-width: 599px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}