#tix {
  padding: 30px;
  @media (max-width: 768px) {
    padding: 30px 10px;
  }
  padding-bottom: 90px;
  background-color: lighten($color-light, 20%);
  border-radius: 3px;

  .tix_tickets_table {
    width: 100%;
    display: table; // Default table layout for larger screens
    overflow-x: auto; // Allow horizontal scroll on small screens
    text-align: left;
    font-size: 15px;

    // For smaller screens, hide the table headers and use flexbox layout on rows
    @media (max-width: 768px) {
      display: block;

      thead {
        display: none; // Hide the thead in mobile view
      }

      tbody {
        display: block; // Use block to let rows wrap
        tr {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #ddd;
          margin-bottom: 1.2rem;
          padding-bottom: 1rem;
        }

        th, td {
          display: flex; // Convert table cells into block structures
          flex-direction: column;
          justify-content: space-between;
          padding: 10px 0;
          font-size: 14px;

          &:before {
            content: attr(data-label);
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: #333;
            display: inline-block;
          }
        }
      }
    }
    
    .tix-ticket-title {
      font-size: 1.4em;
      color: $color-primary;
      line-height: 2;

      @media (max-width: 768px) {
        line-height: 1.6;
        font-size: 18px;
      }
    }

    .tix-ticket-excerpt {
      font-weight: 400;
      @media (max-width: 768px) {
        font-size: 14px;
        white-space: normal;
      }
    }

    thead {
      background-color: lighten($color-green, 35%);
    }

    th {
      font-size: 18px;
      font-weight: 600;
      padding: 10px 20px;

      @media (max-width: 768px) {
        font-size: 14px;
        padding: 5px 10px;
      }
    }

    td {
      padding: 10px 20px;

      @media (max-width: 768px) {
        padding: 5px 10px;
      }
    }

    .tix-column-quantity {
      select {
        width: 100%;
        height: 32px;
        padding: 5px 10px;
        border: 1px solid darken($color-light, 5%);
        border-radius: 3px;
        box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
        background: lighten($color-light, 15%);
      }
    }
    .tix-column-price,
    .tix-column-remaining {
      font-weight: 600;
    }

    @media (max-width: 768px)  {
      .tix-column-price {
        display: inline;
        &:before {
          min-width: 80px;
          content: "Price: ";
          margin-right: 10px;
          font-weight: 500;
        }
      }
      .tix-column-remaining {
        display: inline;
        &:before {
          min-width: 80px;
          content: "Remaining: ";
          margin-right: 10px;
          font-weight: 500;
        }
      }
      .tix-column-quantity {
        display: inline;
        &:before {
          min-width: 80px;
          content: "Quantity: ";
          margin-right: 10px;
          font-weight: 500;
        }
        select {
          max-width: 70%;
        }
      }
    }
    
    
    #tix-coupon-input {
      border: 1px solid darken($color-light, 5%);
      border-radius: 3px;
      padding: 4px 10px;
      line-height: 1.7;
      font-size: 14px;
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
      background: lighten($color-light, 15%);
      height: 32px;

      @media (max-width: 768px) {
        width: 90%;
      }
    }
  }

  .tix-attendee-form {
    margin-bottom: 30px;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 30px;

    &:last-child {
      border-bottom: 0px;
      padding-bottom: 0px;
    }

    input,
    select {
      border: 1px solid darken($color-light, 5%);
      border-radius: 3px;
      padding: 4px 10px;
      line-height: 1.7;
      font-size: 16px;
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
      background: lighten($color-light, 15%);
      height: 32px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      height: auto;
      width: auto;
      margin-right: 6px;
    }

    label {
      font-size: 15px;
      font-weight: 500;
    }
  }

  input[type="submit"] {
    @include button($color-primary, 'md', $color-white);
  }

  .tix-checkout-button {
    @include button($color-primary, 'lg', $color-white);
  }

  h2 {
    font-weight: bold;
    color: $color-primary;
    padding-left: 10px;
  }
}


/**
* Attendees Page
*/

#tix-attendees {
  .tix-attendee-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-between;
    padding-left: 0;
    li {
      height: auto;
      background: $color-white;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 0;
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        box-shadow: 1 1 4px -2px rgba(0, 0, 0, 0.2);
        margin-right: 15px;
      }
      .tix-attendee-name {
        font-size: 16px;
        font-weight: 500;
        color: $color-primary;
      }
      a {
        color: #797979 ;
        font-size: 13px;
        text-decoration: none;
        &:hover {
          color: lighten($color-secondary, 15%);
          text-decoration: underline;
        }
        &:before {
          font: normal 13px/1 social-logos;
          margin-right: 5px;
          color: #151c2a;
        }
        &.tix-attendee-twitter {
          &:before {
          content: "\f10e" ;
          }
        }
        &.tix-attendee-url {
          &:before {
          content: "\f415" ;
          }
        }
      }
    }
    &.tix-columns-3 {
      li {
        width: 100%;
        @include device-size(tablet-portrait) {
          width: 43%;
        }
        @include device-size(desktop) {
          width: 28%;
        }
      }
    }
  }
}
